<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="/portfolio_netlify/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu" href="index.html">Home</a></li>
                <li><a class="menu" href="/templates/sobre.html">Sobre Mim</a></li>
                <li><a class="menu" href="/templates/projetos.html">Projetos</a></li>
                <li><a class="menu" href="/templates/contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="tex2">
            <h1>Olá, Muito Prazer!</h1>

            <p>Meu nome é <strong>Alexandra Cordeiro</strong>, e sou uma <strong>estudante de Análise e Desenvolvimento de Sistemas (ADS)</strong> no segundo período.</p>

            <p>Desde cedo, me apaixonei por tecnologia e programação e minhas habilidades incluem:</p>

            <ul>
            <li><strong>Linguagens de programação:</strong> Python, Java, C, JavaScript</li>
            <li><strong>Desenvolvimento web:</strong> HTML, CSS, Flask, Django</li>
            <li><strong>Ferramentas:</strong> Git, GitHub, Visual Studio Code</li>
            </ul>

        </section>
    </main>

    <div class="particles">
    </div>

    <!-- Gerador de partículas -->
    <script>
        const particleContainer = document.querySelector('.particles');
        const numParticles = 60; // Quantidade de partículas
  
        for (let i = 0; i < numParticles; i++) {
          const particle = document.createElement('div');
          const size = Math.random() * 4 + 2; 
          const startX = Math.random() * 100; 
          
          particle.classList.add('particle');
          particle.style.width = `${size}px`;
          particle.style.height = `${size}px`;
          particle.style.bottom = `-${size}px`;
          particle.style.left = `${startX}vw`;
          particle.style.animationDuration = `${Math.random() * 20 + 10}s`; 
          
          particleContainer.appendChild(particle);
        }
      </script>
</body>
</html>
